In [52]:
import pandas as pd
import geopandas as gpd

# 1. polygon GeoJSON 불러오기
gdf = gpd.read_file('metropolitan_dong.geojson')

# 2. 중복 제거 (혹시 모를 중복 대비)
gdf = gdf.drop_duplicates(subset='adm_code')

# 3. CSV 불러오기 (인덱스 제거)
d_21 = pd.read_csv('21년도_final_DB.csv', index_col=None)
d_26 = pd.read_csv('26년도_final_DB.csv', index_col=None)
d_30 = pd.read_csv('30년도_final_DB.csv', index_col=None)

# 4. 병합 함수 정의
def merge_and_save(df, name):
    df = df.drop(columns='Unnamed: 0', errors='ignore')  # Unnamed: 0 제거 (있을 경우만)

    # adm_code를 문자열로 통일
    df['adm_code'] = df['adm_code'].astype(str)
    gdf['adm_code'] = gdf['adm_code'].astype(str)

    # geometry 포함된 GeoDataFrame과 병합 (adm_code 기준)
    merged = pd.merge(df, gdf[['adm_code', 'geometry']], on='adm_code', how='left')

    # GeoDataFrame으로 변환
    gdf_merged = gpd.GeoDataFrame(merged, geometry='geometry', crs='EPSG:4326')

    return gdf_merged

# 5. 실행
d_21 = merge_and_save(d_21, 'd_21_merged')
d_26 = merge_and_save(d_26, 'd_26_merged')
d_30 = merge_and_save(d_30, 'd_30_merged')


d_21

,adm_code,adm_name,region_group,lat,lon,move_count,charger_station_count,charger_total_count,charger_public_count,charger_private_count,parking_lot_count,parking_space_total,parking_public_count,parking_private_count,gap,gap_signedlog_emph,highlight,geometry
0,11110101,청운동,서울특별시,37.589205,126.969324,4704.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4704.0,322627.193001,True,"POLYGON ((126.97556 37.58968, 126.97549 37.589..."
1,11110102,신교동,서울특별시,37.584506,126.967942,7549.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,7548.0,655764.401742,True,"POLYGON ((126.97031 37.58418, 126.97033 37.584..."
2,11110103,궁정동,서울특별시,37.584698,126.972706,1284.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1284.0,46009.502323,True,"POLYGON ((126.974 37.58654, 126.97401 37.58653..."
3,11110104,효자동,서울특별시,37.582668,126.971953,1902.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1902.0,82949.881302,True,"POLYGON ((126.97356 37.58323, 126.97355 37.582..."
4,11110106,통의동,서울특별시,37.578077,126.972870,1725.0,0.0,0.0,0.0,0.0,1.0,25.0,0.0,1.0,1725.0,71644.630818,True,"POLYGON ((126.9739 37.57932, 126.9739 37.57929..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,41830370,청운면,경기도,37.548210,127.752207,0.0,7.0,7.0,1.0,6.0,0.0,0.0,0.0,0.0,0.0,0.000000,True,"POLYGON ((127.67793 37.53106, 127.67798 37.531..."
1305,41830380,양동면,경기도,37.442832,127.742214,0.0,18.0,31.0,13.0,18.0,0.0,0.0,0.0,0.0,0.0,0.000000,True,"POLYGON ((127.67202 37.48003, 127.67207 37.480..."
1306,41830395,지평면,경기도,37.448687,127.651431,0.0,9.0,16.0,0.0,16.0,0.0,0.0,0.0,0.0,0.0,0.000000,True,"POLYGON ((127.58467 37.4347, 127.58495 37.4348..."
1307,41830400,용문면,경기도,37.519753,127.588286,2312.0,33.0,61.0,4.0,57.0,2.0,284.0,2.0,0.0,2251.0,106798.030183,True,"POLYGON ((127.64237 37.51117, 127.64288 37.510..."
1308,41830410,개군면,경기도,37.439893,127.549496,0.0,8.0,9.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.000000,True,"POLYGON ((127.50112 37.44891, 127.50386 37.449..."

In [80]:
# 제외할 컬럼 목록
exclude_cols = ['gap_signedlog_emph', 'highlight']

# 남길 컬럼 목록
d_21 = d_21.drop(columns=exclude_cols)
d_26 = d_26.drop(columns=exclude_cols)
d_30 = d_30.drop(columns=exclude_cols)

d_21.head()

,adm_code,adm_name,region_group,lat,lon,move_count,charger_station_count,charger_total_count,charger_public_count,charger_private_count,parking_lot_count,parking_space_total,parking_public_count,parking_private_count,gap,geometry
0,11110101,청운동,서울특별시,37.589205,126.969324,4704.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4704.0,"POLYGON ((126.97556 37.58968, 126.97549 37.589..."
1,11110102,신교동,서울특별시,37.584506,126.967942,7549.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,7548.0,"POLYGON ((126.97031 37.58418, 126.97033 37.584..."
2,11110103,궁정동,서울특별시,37.584698,126.972706,1284.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1284.0,"POLYGON ((126.974 37.58654, 126.97401 37.58653..."
3,11110104,효자동,서울특별시,37.582668,126.971953,1902.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1902.0,"POLYGON ((126.97356 37.58323, 126.97355 37.582..."
4,11110106,통의동,서울특별시,37.578077,126.972870,1725.0,0.0,0.0,0.0,0.0,1.0,25.0,0.0,1.0,1725.0,"POLYGON ((126.9739 37.57932, 126.9739 37.57929..."

In [70]:
print(type(d_21), type(d_26), type(d_30))

<class 'geopandas.geodataframe.GeoDataFrame'> <class 'geopandas.geodataframe.GeoDataFrame'> <class 'geopandas.geodataframe.GeoDataFrame'>

In [82]:
d_21.to_file('21년도_final_DB.geojson', driver='GeoJSON', encoding='utf-8')
d_26.to_file('26년도_final_DB.geojson', driver='GeoJSON', encoding='utf-8')
d_30.to_file('30년도_final_DB.geojson', driver='GeoJSON', encoding='utf-8')